@page
@model RV_Park_Reservation_System.Pages.Admin.BillingModel
@{
    ViewData["Title"] = "Billing";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">BILLING</h1>
    <!--TODO: PROCESS REFUNDS PAGE MAYBE ADD BILLING STATS-->
</div>