@page
@model RV_Park_Reservation_System.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">ADMIN DASHBOARD</h1>
    <div class="row flex-wrap">
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body p-0">
                    <h5 class="card-title text-white bg-primary text-center p-3">RESERVATIONS</h5>
                    <div class="px-3">
                        <div class="row mb-2 px-3 align-content-center flex-nowrap">
                            <h6 class="col-6 text-danger m-0">Pending: </h6><span class="m-0" id="dashboardReserved"> 3</span>
                        </div>
                        <div class="row mb-2 px-3  align-content-center flex-nowrap">
                            <h6 class="col-6 text-success m-0">Confirmed: </h6><span class="m-0" id="dashboardOpen"> 12</span>
                        </div>
                    </div>
                    <div class="text-center my-3">
                        <a class="btn btn-success" asp-page="/Admin/Reservations">Manage</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body p-0">
                    <h5 class="card-title text-white bg-primary text-center p-3">SITES</h5>
                    <div class="px-3">
                        <div class="row mb-2 px-3 align-content-center flex-nowrap">
                            <h6 class="col-6 text-danger m-0">Reserved: </h6>&nbsp<span class="m-0" id="dashboardReserved"> 15</span>
                        </div>
                        <div class="row mb-2 px-3  align-content-center flex-nowrap">
                            <h6 class="col-6 text-success m-0">Open: </h6>&nbsp<span class="m-0" id="dashboardOpen"> 12</span>
                        </div>
                    </div>
                    <div class="text-center my-3">
                        <a class="btn btn-success" asp-page="/Admin/Sites">Manage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
