@page
@model RV_Park_Reservation_System.Pages.Admin.ManageModel
@{
    ViewData["Title"] = "Manage";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">DATABASE TABLES</h1>
    <!--
        WE MIGHT WANT TO RENAME THIS PAGE?
        TODO: SEED TABLES
        (DOD Affiliation,
        Service Status,
        Payment Reason,  <-MAYBE WE SHOULD MOVE THIS TO BILLING?
        Payment Type,   <-
        Vehicle Type,
        Location Info,
        Site Category)
        -->
</div>
