@page
@model RV_Park_Reservation_System.Pages.Admin.ReportsModel
@{ 
    ViewData["Title"] = "Reports";
}

<h1>Reports Page</h1>

<!--TODO: DAILY OCCUPANCY (TOMMORWS CHECK INS AND CHECK OUTS), 
    DAILY SITE VACANCIES (FOR AFTER HOURS SELF-CHECK IN)-->