@page
@model RV_Park_Reservation_System.Pages.Admin.ReservationsModel
@{
    ViewData["Title"] = "Reservations";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">RESERVATIONS</h1>
        <!--TODO: MANAGE RESERVATIONS-->
</div>