@page
@model RV_Park_Reservation_System.Pages.Admin.SitesModel
@{
    ViewData["Title"] = "Manage Sites";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">Manage Sites</h1>

    <table id="DT_load" class="table table-bordered table-striped m-2">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Site Number
                </th>
                <th>
                    Length
                </th>
                <th>
                    Description
                </th>
                <th>
                    Last Modified
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>

@section Scripts{
    <script src="~/js/Sites.js"></script>
}
</div>