@page
@model RV_Park_Reservation_System.Pages.Admin.SitesModel
@{
    ViewData["Title"] = "Manage Sites";
}

<h2> Manage Sites and Rates Page</h2>

<!--TODO: MANAGE SITES AND ASSIGN RATES BASED ON CATEGORY-->