@page
@model RV_Park_Reservation_System.Pages.Admin.Users.DeleteModel
@{
}


<h1> User Sucessfully Deleted !!!  </h1>

<li class="nav-item">
    <a class="btn btn-success text-light" asp-page="/Admin/Users/Index"><i class="far fa-edit"></i> List of Users</a>
</li>