@page
@model RV_Park_Reservation_System.Pages.Admin.Reservations.AdminBookingModel
@using Infrastructure.Services
@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = "Admin Booking";
}

<form method="post" autocomplete="off">
    <div class="container ">
        @if (Model.Error == true)
        {
            <div class="alert text-center alert-danger alert-dismissible fade show" role="alert">
                <span class="">There was an issue with scheduling, Please try again or call us at ###</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="container">
            <div class="row border rounded pt-3 pb-3  mt-2 mb-3">
                <input type="hidden" asp-for="Error" id="error" />
                <input type="hidden" id="totalCost" asp-for="totalCost" />
                <div class="col-md-2">

                    <h5 class="form-control">FamCamp</h5>
                </div>
                <div class="col-md-3">

                    @Html.DropDownListFor(v => v.vehicleType, Model.vehicleTypes,
                    " - Please Select a vehicle type - ", new { @class = "mb-2 form-control", @id = "ddlVehicleType", @onchange = "VehicleSelected()" })
                </div>
                <div class="col-md-3">

                    <select asp-for="vehicleLength" id="ddlVehicleLength" class=" mb-2 form-control">
                        <option value="20">- Please Select a vehicle length - </option>

                        <option value="40">< = 40ft.</option>
                        <option value="43">< = 43ft.</option>
                        <option value="64">< = 65ft.</option>
                    </select>
                </div>

                <div class="mb-2 col-md-2">
                    <input asp-for=" StartDate" onchange="checkDates();" class="datepicker container-fluid pb-1 pt-1" placeholder="Start Date" id="startDate" type="datetime" value="" />
                    <span class="text-danger" asp-validation-for="StartDate"></span>
                </div>

                <div class="mb-2 col-md-2">
                    <input asp-for="EndDate" onchange="checkDates();" class="datepicker container-fluid pt-1 pb-1" placeholder="End Date" id="endDate" type="datetime" value="" />
                    <span class="text-danger" asp-validation-for="EndDate"></span>

                </div>

                <div class="row m-2">
                    <div class="col-12">
                        <label class="">Pick Account</label>
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Input.accountOption" type="radio" name="radioOptions" id="newAccountOption" value="newUser" onclick="showCreateNew()">
                            <label class="form-check-label" >
                                Create New Customer Account for Reservation
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"  asp-for="Input.accountOption" type="radio" name="radioOptions" id="genericAccountOption" value="genericUser" onclick="showGenericAcct()">
                            <label class="form-check-label" >
                                Use Walk-up/Weekend Generic Account
                            </label>
                        </div>
                    </div>
                </div>
                <div class="createAccount" style="display: none">
                    <div class="row m-2">
                        <div class="col-md-3">
                            <input type="text" asp-for="Input.firstName" autocomplete="off" placeholder="First Name" class="form-control" />
                            <span asp-validation-for="Input.firstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" asp-for="Input.lastName" autocomplete="off" placeholder="Last Name" class="form-control" />
                             <span asp-validation-for="Input.lastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" asp-for="Input.emailAddress" autocomplete="off" placeholder="Email Address" class="form-control" />
                            <span asp-validation-for="Input.emailAddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <input type="text" asp-for="Input.phoneNumber" autocomplete="off" placeholder="Phone Number" class="form-control" />
                            <span asp-validation-for="Input.phoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-3">
                            @Html.DropDownListFor(s => s.Input.DODAffiliationID, Model.lstDODAffiliation, "- Please select a DOD Affiliation - ", new {@class = "mb-2 form-control", @id = "ddlDODAffiliation"})
                            <span class="text-danger" asp-validation-for="Input.DODAffiliationID"></span>
                         </div>
                        <div class="col-md-3">
                            @Html.DropDownListFor(s => s.Input.serviceStatusType, Model.lstServiceStatus, " - Please Select a Service Status - ", new { @class = "mb-2 form-control", @id = "ddlServiceStatusType" })
                            <span class="text-danger" asp-validation-for="Input.serviceStatusType"></span>
                        </div>
                        <div class="col-md-6">
                            <p class="">*A temporary password will be generated and emailed to customer.</p>
                        </div>
                    </div>
                </div>
                <div class="genericAccount" style="display: none">
                    <h5 class="form-control col-md-5 text-center"> - This Reservation will be booked under the Generic Account - </h5>
                </div>
            </div>
        </div>

<div class="row">
    <div class="d-md-block d-none col-md-8">
        <img src="~/Images/famcampMap.png" class="img-fluid border rounded" />
    </div>

    <div class="col-md-4">
 
        <br />
        <div class="row justify-content-center m-2">
            <div class="col-12">
                <label class="">Number of adults</label>
                <input class="form-control" asp-for="numberOfAdults" />
                <span asp-validation-for="numberOfAdults"></span>
            </div>

        </div>
        <br />
        <div class="row justify-content-center m-2">
            <div class="col-12">
                <label>Number of children</label>
                <input class="form-control" asp-for="numberOfChildren" />
                <span asp-validation-for="numberOfChildren"></span>
            </div>
        </div>
        <br />

        <div class="row justify-content-center m-2" id="petsCheckbox">
            <div class="col-12">
                <span>Do you plan on bringing pets?</span> <input onclick="pets();" type="checkbox" name="name" value="" />
            </div>
        </div>

        <div style="display: none" class="petWrapper">
            <div class="row justify-content-center m-2">
                <div class="col-12">
                    <label class="">Number of pets</label>
                    <input class="form-control" asp-for="numberOfPets" />
                    <span asp-validation-for="numberOfPets"></span>
                </div>
            </div>

            <div class="row m-2">
                <div class="col-12">
                    <label class="">I have read and understood the <a class="text-info" data-toggle="modal" data-target="#myModal">pet poilicy </a>for Hill AFB FamCamp.</label>
                    <input asp-for="breedPolicy" class="form-check-input" id="breedPolicyAgreement" />
                </div>
            </div>
        </div>

        <br />
        <div class="row justify-content-center m-2" id="btnSeeReservations">
            <div class="col-12">
                <button onclick="loadReservations();" type="button" class="btn container-fluid btn-primary">See Available Lots</button>
            </div>
        </div>
        <div style="display: none" id="ddlSitesDiv" class="row justify-content-center m-2">
            <div class="col-12">
                <label>Campsite location</label>
                <select onchange="continuePayment();" asp-fo r="siteid" id="ddlSites" class="form-control">
                    <option value="0">- Please Select a camp site - </option>

                </select>
                <div class="d-md-none">
                    Click <a class="text-info" data-toggle="modal" data-target="#siteMap">here </a> to view the site map.
                </div>

            </div>

        </div>
        <br /><br />

        <div class="row justify-content-center m-2">
            <div class="col-6" style="display: none" id="btnPayment">
                <button class="btn container-fluid m-1 btn-primary">Continue to Payment</button>
            </div>
            <div class="col-6">
                <a asp-page="/Index" type="button" class="btn container-fluid m-1 btn-primary">Cancel</a>
            </div>
        </div>

    </div>

</div>

</div>

</form>

<div class="modal" id="siteMap" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Site Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="~/Images/famcampMap.png" class="img-fluid border rounded" />
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">FamCamp Pet Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Dogs with any of the following breed lineage are restricted from FamCamp: <strong>
                            Pit Bulls, Staffordshire Terriers,
                            Rottweilers, Chow Chows, Doberman Pinschers, wolf hybrids.
                        </strong>
                    </li>
                    <li>Animal waste will be picked up and properly disposed of immediately.</li>
                    <li>Pets will remain on a leash in control of the owner unless in designated dog park area.</li>
                    <li>When using the dog park, the pet owner must be present at all times. </li>
                    <li>Dogs will not be chained outdoors or left unattended at any time.</li>
                    <li>
                        In consideration of other guests, nuisance pet behavior will not be permitted.
                        This is to include but not limited to pets that display aggression and/or excessive barking.
                    </li>
                    <li>2 pet maximum.</li>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="checkAgreement();" data-dismiss="modal" class="btn btn-success">Agree</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/booking.js"></script>
    <partial name="_ValidationScriptsPartial" />




    }
