@page
@model RV_Park_Reservation_System.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">@ViewData["Title"]</h1>

    <h2>Developers</h2>


    <p>
        This software system was first created in Fall 2021.
        The developers who claim full rights to this software system are:
    </p>

    <ul>
        <li>Ankit Dhamala - <!--Add email if you want--></li>
        <li>Brayden Eames - </li>
        <li>Kyler Hansen - Kyler4Hansen@gmail.com</li>
        <li>Randi Weston - </li>
        <li>Shawn Blake - </li>
    </ul>
</div>