@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>RV Park Reservation System!</h1>
    <h3>Login or Register a new account to reserve a site!</h3>
</div>
