@page
@model RV_Park_Reservation_System.Pages.Client.BookingModel
@{
    ViewData["Title"] = "Booking";
}


<h3>This is the booking page where Clients Book a Reservation</h3>

<!--TODO: DO WE WANT TO HAVE THE CALENDAR
    ON THE SAME PAGE AS THE FORM NEEDED FOR RESERVING A SITE?
    ALSO POSSIBLE CARD PROCESSING PAYMENT ON ANOTHER RAZOR PAGE?
    -->
