@page
@model RV_Park_Reservation_System.Pages.Client.MyReservationsModel
@{
    ViewData["Title"] = "Reservations";
}

<h1> Client Modify/Cancels Reservations on this page</h1>
<!--TODO: MODIFY/CANCLE RESERVATIONS-->