@page
@model RV_Park_Reservation_System.Pages.Client.MyReservationsModel
@{
    ViewData["Title"] = "Reservations";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">MY RESERVATIONS</h1>
    <div class="border backgroundWhite mt-5 p-3">
        <div class="row">
            <div class="col-12 text-right">
                <a asp-page="Booking" asp-route-id="0" class="btn btn-primary">
                    <i class="fas fa-plus"></i>&nbsp;Create New
                </a>
            </div>
        </div>
        <br /><br />
        <table id="DT_load" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Vehicle Length
                    </th>
                    <th>
                        Adults
                    </th>
                    <th>
                        Children
                    </th>
                    <th>
                        Pets
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

    @section Scripts{
        <script src="~/js/clientReservation.js"></script>
    }
