@page
@model RV_Park_Reservation_System.Pages.Client.PaymentSummaryModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-6 offset-3  m-2 border rounded" >
            <div class="row">
                <div class=" col-12 text-center"><h4>Reservation Summary</h4></div>
                
            </div>
        </div>
    </div>

</div>
