@page
@model RV_Park_Reservation_System.Pages.Client.PaymentConfirmationModel
@{
}

<div class="container">
    <div class=" row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h1 class="bg-success border rounded text-light p-3">Payment has been submitted! </h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class=" row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <img src="~/Images/thumbsup.png" alt="Alternate Text" />
        </div>
        <div class="col-3"></div>
    </div>
</div>