@page
@model RV_Park_Reservation_System.Pages.Admin.Reports.NightVacancyReportModel
@{
    ViewData["Title"] = "Night Vacancy Report";
}

<div class="container mb-4">
    <h1 class="display-4 text-center text-primary my-5">REPORTS</h1>

    <div class="row">
        <div class="col-3 col-md-2 d-flex flex-column text-left">
            <a class="btn btn-primary-outline w-100 py-2 text-left" asp-page="/Admin/Reports/CheckInOutReport">Check In/Out</a>
            <a class="btn btn-primary-outline w-100 py-2 text-left" asp-page="">Daily Revenue</a>
            <a class="btn btn-primary w-100 py-2 text-left" asp-page="/Admin/Reports/NightVacancyReport">Night Vacancy <i class="fas fa-angle-right"></i></a>
            <a class="btn btn-primary-outline w-100 py-2 text-left" asp-page="">Monthly Revenue</a>
            <a class="btn btn-primary-outline w-100 py-2 text-left" asp-page="/Admin/Reports/PastReservationsReport">Past Reservations</a>
            <a class="btn btn-primary-outline w-100 py-2 text-left" asp-page="/Admin/Reports/TransactionReport">Transactions</a>
        </div>
        <div class="col-10 px-0">
            <div class="border backgroundWhite container p-3">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <h4>Vacant Sites</h4>
                    </div>
                    <div class="col-12 col-lg-9">
                        <div class="text-center font-weight-bold ">
                            <span class="p-1 mr-2 h-50">
                                <label class="p-1">From:</label>
                                <input class="datepicker container-fluid pt-1 pb-1 w-25" id="startDate" type="date" />
                            </span>

                            <span class="p-1">
                                <label class="p-1">To:</label>
                                <input class="datepicker container-fluid pt-1 pb-1 w-25" id="endDate" type="date" />
                            </span>
                            <button class="dt-button button-primary" onclick="generateVacantSitesData()">Go</button>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div id="content2">
                    <table id="DTvacancyReport" class="table table-striped table-bordered mx-0 w-100">
                        <thead>
                            <tr>
                                <th>
                                    Site #
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Length
                                </th>
                                <th>
                                    Available Dates
                                </th>
                                <th>
                                    Rate
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables-buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="~/js/reports.js"></script>

    <script>
        //Handle Tab Clicks
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })

        window.addEventListener('load', setDefaultDaysInInput());

        function setDefaultDaysInInput() {
            let today = new Date();
            today.setDate(today.getDate() - 1);
            document.getElementById('startDate').valueAsDate = today;

            let endInput = document.getElementById('endDate');
            let thirdDay = today;
            thirdDay.setDate(thirdDay.getDate() + 3);
            endInput.valueAsDate = thirdDay;

            document.getElementById('historicStartDate').valueAsDate = today;

            let thirtyDay = today;
            thirtyDay.setDate(thirtyDay.getDate() + 30);
            document.getElementById('historicEndDate').valueAsDate = thirtyDay;

        }


        function setCheckInDay(plusDays) {
            let checkIn = document.getElementById('CheckIn');
            let checkOut = document.getElementById('CheckOut');
            let thisDay = new Date();
            let nextDay = new Date();
            let enterEvent = new CustomEvent('keyup');
            enterEvent.which = 13; //13 is to trigger enter key event
            enterEvent.keyCode = 13;

            if (plusDays === 1) {
                thisDay.setDate(thisDay.getDate() + plusDays);
            }
            checkIn.value = thisDay.getMonth() + 1 + '/' + thisDay.getDate() + '/' + thisDay.getFullYear();
            if (plusDays < 2) {
                checkOut.value = '';
                checkOut.focus();
                checkOut.dispatchEvent(enterEvent);
            }
            checkIn.focus();
            checkIn.dispatchEvent(enterEvent);

            if (plusDays > 1) {
                nextDay.setDate(nextDay.getDate() + plusDays);
                checkOut.value = nextDay.getMonth() + 1 + '/' + nextDay.getDate() + '/' + nextDay.getFullYear();
                checkOut.focus();
                checkOut.dispatchEvent(enterEvent);
            }
        }


    </script>

}