@page
@model RV_Park_Reservation_System.Pages.Admin.SitesModel
@{
    ViewData["Title"] = "Manage Sites";
}

<div class="container">
    <h1 class="display-4 text-center text-primary my-5">Manage Sites</h1>
    <div class="m-lg-5">
        <table id="DT_load" class="table table-bordered table-striped mb-2">
            <thead>
                <tr class="text-center">
                    <th>
                        Type
                    </th>
                    <th>
                        Site Number
                    </th>
                    <th>
                        Length
                   </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Last Modified Date
                    </th>
                    <th>
                        Last Modified By
                    </th>
                    <th>
                        <a href="/Admin/ManageSites/Upsert?id=0"
                           class="btn btn-primary text-white text-center" style="cursor:pointer; width:90%;">+ Create New Site</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <br />

    @section Scripts{
        <script src="~/js/Sites.js"></script>
    }
</div>
