@page
@model RV_Park_Reservation_System.Pages.Admin.PaymentTypes.UpsertModel
@{
    ViewData["Title"] = "Manage Payment Type";
}

<form method="post" asp-action="Upsert" autocomplete="off">
    <div class="container">
        <div class="row px-2 mx-2 border">
            @* All for Model validation and HTML validation *@
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.PaymentTypeObj.PayTypeID != 0 ? "Update" : "Create") Payment Type</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="PaymentTypeObj.PayType"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="PaymentTypeObj.PayType" />
                        <span class="text-danger" asp-validation-for="PaymentTypeObj.PayType"></span>
                    </div>
                    @if (Model.PaymentTypeObj.PayTypeID != 0)
                    {
                        <input type="hidden" asp-for="PaymentTypeObj.PayTypeID" />
                    }
                </div>
                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.PaymentTypeObj.PayTypeID != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
