@page
@model RV_Park_Reservation_System.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
}
<div class="container">
    <div class=" row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h1 class="border rounded  p-3">If user exists, you will recieve an email with the associated account to reset your password!</h1>
        </div>
        <div class="col-3"></div>
    </div>

</div>