@page
@model RV_Park_Reservation_System.Areas.Identity.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "Access Restricted";
}

<div class="container text-center">
    <div class="pt-5">
        <h2>Account Locked</h2>
    </div>
    <hr />
    <div class="pt-4">
        <div class="pb-1 pt-6 text-center">
            <h4>Your Account Has Been Locked</h4>
            <h5>Contact the site Admin to unlock your account.</h5>
        </div>        
    </div>
</div>